.Shop-container{
    width: 100%;
    background-color: #6a7281;
}

.Link-shop-container{
    padding-top : 15px;
    padding-bottom: 10px;
    background-color: #667FAD;
    text-align: center;
    //box-shadow: rgb(169, 145, 83) 0px 5px, rgb(189, 157, 92) 0px 10px, rgb(213, 175, 103) 0px 15px, rgb(232, 194, 112) 0px 20px;
}
li{
    list-style-type: none;
}

.logo_header_shop{
    width: 100px;
    height: 100px;
    margin-right: 10%;
    float: left;
    margin-left: 10%;
}

.nav-shop{
    font-family: "Long Shot";
    text-decoration: none;
    font-size: 40px;
    color: #667FAD;
}

.nav-shop:hover{
    color: white;
}

.logo-nav {
    width: 70px;
    height: 70px;
}

.logo-shop{
    width: 120px;
    height: 120px;
    margin: 3%;
}

.title-shop{
    font-family: "Long Shot";
    font-weight: bold;
    margin-top: 1%;
}

.text-shop{
    width: 70%;
    font-family: "Long Shot";
    margin: 0 auto;
    margin-top: 60px;
}

a.nav-shop {
    margin : auto 100px;
    background-image: linear-gradient(
            to right,
            #ffffff,
            #000000 80%,
            #000000 110%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a.nav-shop:before {
    content: '';
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a.nav-shop:hover {
    background-position: 0;
}

a.nav-shop::before {
    width:100%;
}

/* Text carousel */
.Iam {
    padding: 1em 3em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
    margin-right: 105px;
}
.Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
}
.Iam b {
    float: left;
    overflow: hidden;
    height: 50px;
    top: 40px;
}
.Iam .innerIam {
    display: inline-block;
    color: rgb(206, 34, 34);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;


    /*animation*/
    -webkit-animation:move 15s;
    -moz-animation:move 15s;
    -ms-animation:move 15s;
    -o-animation:move 15s;
    animation:move 15s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}
@keyframes move{
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}



