.Shop-container{
    width: 100%;
}

.Link-shop-container{
    background-color: #AD9154;
    height: 70px;
    box-shadow: rgba(143, 86, 124, 0.4) 0px 5px, rgba(137, 176, 81, 0.3) 0px 10px, rgba(97, 239, 26, 0.2) 0px 15px, rgba(138, 137, 61, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.nav-shop{
    text-align: center;
    vertical-align: center;
    text-space: 25px;
    margin: auto;
    font-family: "Long Shot";
    display: inline;
    text-decoration: none;
    font-size: 30px;
    color: #282c34;
}

.nav-shop:hover{
    color: white;
}

Link {
    padding: 50px;
    margin-right: 100px;
}

.logo-nav {
    width: 60px;
    height: 60px;
    float: left;
}


