/** TeeShirt.css **/

.Shop-container{
    width: 100%;
}

.nav-shop{
    text-align: center;
    text-space: 15px;
    margin-right: 20px;
    font-family: "Long Shot";
}

Link {
    padding: 50px;
    margin-right: 100px;
}

/* BOX */
.box-shop-container{
    margin-left: 50px;
    margin-right: 50px;
}

.box-shop{
    width: 26%;
    height: 600px;
    border: 5px #AD9154;
    box-shadow: rgba(130, 109, 63, 1) 0px 7px 29px 0px;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 60px;
    margin-right: 60px;
    cursor: grab;
    display: inline-block;
    background: #282c34;
    border-radius: 12%;
    transition: all 0.2s ease-in-out;
}

.box-shop:hover {
    background: #535359;
    box-shadow: rgb(255, 0, 0) 5px 15px 41px 5px;

}

.image-box{
    width: 95%;
    height: 50%;
    margin-top: 5%;
}

.text-shop-box{
    font-size: 12px;
    background-size: cover;
    margin : auto ;
    padding: 6%;
    color: white;
}

.price-ts{
    font-family: "Long Shot";
    font-size: 42px;
    bottom: 0;
    color: darkred;
}