* {
    margrin : 0;
    padding: 0;
}

.container_h {
    padding: 10px;
    background-image: url("../Assets/Decoration_-_PNG.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-family: var(--font-main);
    padding: 5px;
    font-size: 50px;
    word-spacing: 1rem;
}

.title_container_cd {
    display: block;
    word-spacing: 2rem;
}

.logo_h {
    width: 225px;
    height: 225px;
}

/* ---------- Button ---------- */
.button{
    min-width: 250px;
    min-height: 250px;
    font-family: 'Long Shot', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-weight: 600;
    color: white;
    background: #AD9154;
    background: linear-gradient(90deg,rgb(85 90 21 / 74%) 0%, rgba(233,151,123,1) 140%);
    border: none;
    border-radius: 1100px;
    box-shadow: 12px 12px 24px rgba(204,209,209,1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 20px;
    margin-bottom: 100px;
    margin-left : 350px;
    margin-right: 350px;
;
}

button::before {
    content: '';
    border-radius: 1100px;
    min-width: calc(10px + 12px);
    min-height: calc(10px + 12px);
    border: 6px solid #AD9154;
    box-shadow: 0 0 20px rgba(233,151,123,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    z-index: -1;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 500px; height: 500px;
    border-radius: 100%;
    border: 8px solid #576473;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}
.button-header {
    width: 50%;
    display: inline-block;
    contain: size;
}
